<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037687317888-5bkspv8kl784c8kfvenr2o3kko4i3sgs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037687317888-5bkspv8kl784c8kfvenr2o3kko4i3sgs</string>
	<key>API_KEY</key>
	<string>AIzaSyASJfvNXerpJPWdZOREA-TUNFsMm9g9AZY</string>
	<key>GCM_SENDER_ID</key>
	<string>1037687317888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sparkai.retrokit</string>
	<key>PROJECT_ID</key>
	<string>retrokit-211b2</string>
	<key>STORAGE_BUCKET</key>
	<string>retrokit-211b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037687317888:ios:f215903ed39ac75b6b0d65</string>
</dict>
</plist>